<ion-content>


  <div id="container">
    <form>
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <br><br>
              <img width="60" height="60" src="assets/icon/logo.png">
              <br>
              <h3><b>Se connceter</b></h3>

            </div>
            <div padding>
              <ion-item>
                <ion-input name="email" type="email" placeholder="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="mot de passe"></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button [routerLink]="['/home']" class="btn-register">Confirmer</ion-button>
              <br><br>
              <ion-label [routerLink]="['/register']" color="primary">Ou, créer un compte !</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>